doctype html
html
	head
		title Task-4 - jade expirience
		link(href='index.css', rel='stylesheet')
	body
		section.login-form
			form(method='post')
				h1 ABC system
				label(for='username') Username:
				input#username(type='text', name='username', value='')
				label(for='password') Password:
				input#password(type='text', name='password', value='')
				button Login